[paths]
base_path=/home/mithun-binny/HateAlert_Folder/JointDir/Saurabh/

data_train_hindi=data_final/Exp1/Hindi/hindi_train_pairs.csv
data_val_hindi=data_final/Exp1/Hindi/hindi_val_pairs.csv
data_test_hindi=data_final/Exp1/Hindi/hindi_test_pairs.csv

# data_train_hindi=data_final/Exp3A/Hindi/Bengali/bengali2hindi_train_pairs.csv
# data_val_hindi=data_final/Exp3A/Hindi/Bengali/bengali2hindi_val_pairs.csv
# data_test_hindi=data_final/Exp3A/Hindi/Bengali/hindi_test_pairs.csv

# data_train_hindi=data_final/Exp3A/Hindi/English/english2hindi_train_pairs.csv
# data_val_hindi=data_final/Exp3A/Hindi/English/english2hindi_val_pairs.csv
# data_test_hindi=data_final/Exp3A/Hindi/English/hindi_test_pairs.csv


# data_train_bengali=data_final/Exp1/Bengali/bengali_train_pairs.csv
# data_val_bengali=data_final/Exp1/Bengali/bengali_val_pairs.csv
# data_test_bengali=data_final/Exp1/Bengali/bengali_test_pairs.csv

# data_train_bengali=data_final/Exp3A/Bengali/Hindi/hindi2bengali_train_pairs.csv
# data_val_bengali=data_final/Exp3A/Bengali/Hindi/hindi2bengali_val_pairs.csv
# data_test_bengali=data_final/Exp3A/Bengali/Hindi/bengali_test_pairs.csv

# data_train_bengali=data_final/Exp3A/Bengali/English/english2bengali_train_pairs.csv
# data_val_bengali=data_final/Exp3A/Bengali/English/english2bengali_train_pairs.csv
# data_test_bengali=data_final/Exp3A/Bengali/English/bengali_test_pairs.csv

[models]
save_model_bloom_hindi=saved_models/Exp3B/bloom/bloom_english2hindi
save_model_bloom_hindi_final=saved_models/Exp3B/bloom/bloom_english2hindi_final

save_model_bloom_bengali=saved_models/Exp3B/bloom/bloom_english2bengali
save_model_bloom_bengali_final=saved_models/Exp3B/bloom/bloom_english2bengali_final

saved_model_bloom_hindi=saved_models/Exp3A/bloom/bloom_english2hindi.pt
saved_model_bloom_bengali=saved_models/Exp3A/bloom/bloom_english2bengali.pt

model_name_hindi=bigscience/bloom-560m
model_name_bengali=bigscience/bloom-560m

[train]
train_hindi=True
train_bengali=False
max_length=300
num_epochs=10
batch_size=4
gpu_num=0

[generate]
generate_hindi=True
generate_bengali=False
min_length=20
max_length=300
sample=True

[outputs]
output_hindi=outputs/pred_counter_hindi_bloom_preprocess.json
output_bengali=outputs/pred_counter_bloom_bengali.json

