[paths]
base_path=/home/mithun-binny/HateAlert_Folder/JointDir/Saurabh/

# data_train_hindi=data_final/Exp1/Hindi/hindi_train_pairs.csv
# data_val_hindi=data_final/Exp1/Hindi/hindi_val_pairs.csv
# data_test_hindi=data_final/Exp1/Hindi/hindi_test_pairs.csv

# data_train_bengali=data_final/Exp3A/Bengali/Hindi/hindi2bengali_train_pairs.csv
# data_val_bengali=data_final/Exp3A/Bengali/Hindi/hindi2bengali_val_pairs.csv
# data_test_bengali=data_final/Exp3A/Bengali/Hindi/bengali_test_pairs.csv

data_train_bengali=data_final/Exp1/Bengali/bengali_train_pairs.csv
data_val_bengali=data_final/Exp1/Bengali/bengali_val_pairs.csv
data_test_bengali=data_final/Exp1/Bengali/bengali_test_pairs.csv

# data_train_bengali=data_final/Exp3A/Bengali/English/english2bengali_train_pairs.csv
# data_val_bengali=data_final/Exp3A/Bengali/English/english2bengali_train_pairs.csv
# data_test_bengali=data_final/Exp3A/Bengali/English/bengali_test_pairs.csv

[models]
save_model_gpt2_hindi=saved_models/Exp3B/gpt2/gpt2_hindi2bengali
save_model_gpt2_hindi_final=saved_models/Exp3B/gpt2/gpt2_hindi2bengali_final

save_model_gpt2_bengali=saved_models/Exp3B/gpt2/gpt2_english2bengali
save_model_gpt2_bengali_final=saved_models/Exp3B/gpt2/gpt2_english2bengali_final

saved_model_gpt2_hindi=saved_models/Exp3A/gpt2/gpt2_hindi2bengali.pt
saved_model_gpt2_bengali=saved_models/Exp3A/gpt2/gpt2_english2bengali.pt

model_name_hindi=surajp/gpt2-hindi
model_name_bengali=flax-community/gpt2-bengali

[train]
train_hindi=False
train_bengali=True
max_length=300
num_epochs=30
batch_size=1
gpu_num=0

[generate]
generate_hindi=False
generate_bengali=True
min_length=20
max_length=350
sample=True

[outputs]
output_hindi=outputs/pred_counter_hindi_gpt2_suraj.json
output_bengali=outputs/pred_counter_bengali_gpt2.json

