[paths]
base_path=/home/mithundas/HateAlert_Folder/JointDir/Saurabh/

data_train=data_final/Exp3A/Bengali/Hindi/hindi2bengali_train_pairs.csv
data_val=data_final/Exp3A/Bengali/Hindi/hindi2bengali_val_pairs.csv
data_test=data_final/Exp3A/Bengali/Hindi/bengali_test_pairs.csv
data_pred=outputs/Exp3A/Bengali/Hindi/counter_gpt2_hindi2bengali.csv

# data_train=data_final/Exp1/Bengali/bengali_train_pairs.csv
# data_val=data_final/Exp1/Bengali/bengali_val_pairs.csv
# data_test=data_final/Exp1/Bengali/bengali_test_pairs.csv
# data_pred=outputs/Exp1/mt5/Bengali/counter_mt5_bangla.csv

# data_train_hindi=data_final/Exp1/Hindi/hindi_train_pairs.csv
# data_val_hindi=data_final/Exp1/Hindi/hindi_val_pairs.csv
# data_test_hindi=data_final/Exp1/Hindi/hindi_test_pairs.csv

# data_train_hindi=data_final/Exp3A/Hindi/Bengali/bengali2hindi_train_pairs.csv
# data_val_hindi=data_final/Exp3A/Hindi/Bengali/bengali2hindi_val_pairs.csv
# data_test_hindi=data_final/Exp3A/Hindi/Bengali/hindi_test_pairs.csv

# data_train_hindi=data_final/Exp3A/Hindi/English/english2hindi_train_pairs.csv
# data_val_hindi=data_final/Exp3A/Hindi/English/english2hindi_val_pairs.csv
# data_test_hindi=data_final/Exp3A/Hindi/English/hindi_test_pairs.csv

# data_train_bengali=data_final/Exp1/Bengali/bengali_train_pairs.csv
# data_val_bengali=data_final/Exp1/Bengali/bengali_val_pairs.csv
# data_test_bengali=data_final/Exp1/Bengali/bengali_test_pairs.csv

# data_train_bengali=data_final/Exp3A/Bengali/Hindi/hindi2bengali_train_pairs.csv
# data_val_bengali=data_final/Exp3A/Bengali/Hindi/hindi2bengali_val_pairs.csv
# data_test_bengali=data_final/Exp3A/Bengali/Hindi/bengali_test_pairs.csv

# data_train_bengali=data_final/Exp3A/Bengali/English/english2bengali_train_pairs.csv
# data_val_bengali=data_final/Exp3A/Bengali/English/english2bengali_train_pairs.csv
# data_test_bengali=data_final/Exp3A/Bengali/English/bengali_test_pairs.csv

[models]
model_name=flax-community/gpt2-bengali
saved_model=saved_models/Exp3A/gpt2/gpt2_hindi2bengali.pt
gpu_num=1
batch_size=4
language=bn

[outputs]
# output_json=outputs/Exp1/mt5/Hindi/counter_mt5_hindi_doc2query.json
# output_csv=outputs/Exp1/mt5/Hindi/counter_mt5_hindi_doc2query.csv
# output_scores=outputs/Exp1/mt5/Hindi/mt5_hindi_doc2query_scores.txt

output_json=outputs/Exp3A/Bengali/Hindi/counter_gpt2_hindi2bengali.json
output_csv=outputs/Exp3A/Bengali/Hindi/counter_gpt2_hindi2bengali.csv
output_scores=outputs/Exp3A/Bengali/Hindi/counter_gpt2_hindi2bengali.txt